@font-face {
  font-family: "JF Flat Regular";
  src: url(../fonts/JF-Flat-regular.eot);
  src: url(../fonts/JF-Flat-regular.eot?#iefix) format("embedded-opentype"),
    url("../fonts/JF-Flat-regular.svg#JF Flat Regular") format("svg"),
    url(../fonts/JF-Flat-regular.woff) format("woff"),
    url(../fonts/JF-Flat-regular.ttf) format("ttf");
  font-weight: bolder;
  font-style: normal;
}
html {
  font-size: 14px;
}
* img {
  max-width: 100%;
}

body {
  font-family: "JF Flat Regular", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
.custom-navbar {
  border-bottom: 3px solid #f7f8f3;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
}

.custom-form-control,
.custom-btn {
  border: 1px solid #ebebeb;
  box-shadow: none;
  border-radius: 2px;
  color: #868686;
  height: 38px;
  padding: 6px 16px;
  transition: all 0.3s ease;
}
.custom-form-control:focus,
.form-control:focus {
  border: 1px solid #ff3956 !important;
  box-shadow: 0 0 2px 0 #c21010;
  outline: none !important;
}
.custom-btn:hover {
  background-color: #d4d4d4;
  border: 1px solid #bcbcbc;
  color: #ff3956;
}
.custom-btn:focus {
  background-color: #d4d4d4;
  border: 1px solid #bcbcbc;
  color: #ff3956;
}
.categories {
  border-right: 0 !important;
  border-radius: 0;
}

.custom-dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 #ebebeb;
  color: #777;
}

.search-btn {
  background-color: #ff3956;
  color: white;
  padding: 5px 15px 7px;
  height: 38px;
  width: 65px;
  border-radius: 0;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.3s ease;
}

.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover {
  background-color: #c31932;
  color: white;
}

.custom-navbar .navbar-nav .nav-link {
  color: #555555;
  font-size: 14px;
  padding: 15px;
}

.custom-navbar .navbar-nav li.active a.nav-link {
  color: #ff3956;
  font-weight: 700;
  border-bottom: 1px solid #ff3956;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link {
  background-color: #e7e7e7;
}
.custom-dropdown-menu li a:hover {
  background-color: #ffe7ea;
}

.custom-navbar .btn-icon {
  padding: 5px 10px;
  color: #777;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 15px;
}

/* ################## */
/*  قسم عارض الشرائح */
#carousel-featured {
  background-color: #f7f8f3;
  height: 400px;
  padding-top: 25px;
}

#carousel-featured .carousel-item img {
  height: 375px;
}
#carousel-featured .product-details {
  border: 1px solid #dddddb;
  padding: 20px;
  position: relative;
  top: 50px;
  height: 200px;
  background-color: #f7f8f3;
  max-width: 450px;
}
#carousel-featured .product-details h1 {
  font-weight: 700;
  font-size: 175%;
}
#carousel-featured .product-details .product-category {
  border: 1px solid #dddddb;
  padding: 10px;
  position: absolute;
  top: -30px;
  right: -10px;
  background-color: #f7f8f3;
}
.sale {
  background-color: #53ccd7;
  color: white;
  font-weight: bold;
  position: absolute;
}

.sale.large {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  left: -25px;
  top: -25px;
  font-size: 130%;
  text-align: center;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
  padding: 30px;
}
#carousel-featured .product-details a {
  margin-top: 15px;
}

#carousel-featured .product-details .custom-btn-outline-warning {
  background-color: transparent;
  border: 1px solid #f8ad47;
  color: #f8ad47;
}

.custom-btn-outline-warning:hover,
.custom-btn-outline-warning:active,
.custom-btn-outline-warning:focus,
.custom-btn-outline-warning:active:focus,
.custom-btn-outline-warning:active:hover {
  border-color: #b86d07 !important;
  color: #b86d07 !important;
}
.custom-carousel-indecations {
  top: 230px;
  right: 30%;
}
.custom-carousel-indecations-primary {
  height: 70px !important;
  width: 70px !important;
  border: 2px solid #ddddd8 !important;
  margin: 0 !important;
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}
.custom-carousel-indecations-primary.active {
  border-color: #b86d07 !important;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.carousel-control span svg {
  color: rgb(122, 122, 122) !important;
  font-size: 30px;
}
